@inject ILocalizationService LocalizationService
@model Getir.MerchantPortal.Models.DeliveryCapacityResponse

<h3>@LocalizationService.GetString("DeliveryCapacity")</h3>

<form asp-action="Capacity" method="post">
	@Html.AntiForgeryToken()
	<input type="hidden" asp-for="MerchantId" />

	<div class="row">
		<div class="col-md-6 mb-3">
			<label class="form-label">@LocalizationService.GetString("MaxActiveDeliveries")</label>
			<input asp-for="MaxActiveDeliveries" type="number" class="form-control" />
		</div>
		<div class="col-md-6 mb-3">
			<label class="form-label">@LocalizationService.GetString("MaxDailyDeliveries")</label>
			<input asp-for="MaxDailyDeliveries" type="number" class="form-control" />
		</div>
	</div>

	<button type="submit" class="btn btn-primary">@LocalizationService.GetString("Save")</button>
</form>


